{% extends 'base.html' %}
{% load static %}

{% block title %}Reviu - Login{% endblock %}

{% block body %}
  <section class="min-h-screen flex items-center justify-center bg-[#013756]">
        <main class="w-full max-w-md">
            <div class="relative flex flex-col justify-center -mt-8">
                <div class="h-60 w-full"></div>

                <img src="{% static 'resouces/decko-corpo.svg' %}" alt="" class="absolute left-1/2 -translate-x-1/2 top-15 z-0 pointer-events-none">

                <div class="relative z-10 w-full bg-linear-to-b from-[#045685] to-[#003554] rounded-2xl overflow-hidden">
                    <div class="p-6 pb-8">
                    <h1 class="text-3xl font-extrabold text-white text-center mt-4">Bem-vindo de volta!</h1>
                    <form method="post" action="" class="mt-6 space-y-4">{% csrf_token %}
                        <div>
                            <label class="text-[#DBDBDB] text-sm">Email</label>
                            <div class="mt-2 relative">
                                <span class="absolute left-3 top-1/2 -translate-y-1/2 text-[#DBDBDB]">
                                    <img src="{% static 'resouces/email-ico.svg' %}" class="w-5 h-5" alt="">
                                </span>
                                <input name="email" type="email" required class="w-full pl-12 pr-4 py-3 rounded-full bg-[#D9D9D950] placeholder-[#A4A4A4] text-[#DBDBDB] focus:outline-none focus:ring-2 focus:ring-[#FE9A09]" placeholder="exemplo@gmail.com">
                            </div>
                        </div>

                        <div>
                            <label class="text-[#DBDBDB] text-sm">Senha</label>
                            <div class="mt-2 relative">
                                <span class="absolute left-3 top-1/2 -translate-y-1/2 text-[#DBDBDB]">
                                    <img src="{% static 'resouces/key-ico.svg' %}" class="w-5 h-5" alt="">
                                </span>
                                <input name="password" type="password" required class="w-full pl-12 pr-4 py-3 rounded-full bg-[#D9D9D950] placeholder-[#A4A4A4] text-[#DBDBDB] focus:outline-none focus:ring-2 focus:ring-[#FE9A09]" placeholder="••••••••">
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="w-full mt-4.5 py-3 rounded-full bg-[#FE9A09] text-[#12130F] font-semibold shadow-md hover:brightness-95">Entrar</button>
                        </div>
                    </form>
                    <div class="flex justify-center mt-3 ">
                      <p class="text-[#DBDBDB] text-lg">ainda não tem conta? <span class="text-[#FE9A09] text-lg"><a href="{% url 'register' %}">registre-se aqui</a></span></p>
                    </div>
                    </div>
                </div>

                <img src="{% static 'resouces/decko-maos.svg' %}" alt="" class="absolute left-1/2 -translate-x-1/2 translate-y-46.75 top-0 z-20 pointer-events-none">
            </div>
        </main>
    </section>
{% endblock %}
