{% extends "base.html" %}
{% load static %}

{% block title %}Reviu - Home{% endblock title %}

{% block body %}
<div class="h-screen flex">
    <div class="absolute right-0 top-0 pointer-events-none z-0">
        <img src="{% static 'resouces/decko.svg' %}" alt="">
    </div>
    <main class="w-full md:ml-8 flex flex-col">
        <div class="flex flex-col grow max-h-168">

            <div class="mt-8 mb-18 sm:mb-24 flex-none">
                <p class="text-lg sm:text-3xl ml-3 text-[#013756]">Bem Vindo,</p>
                <p class="text-lg sm:text-3xl ml-3 text-[#013756] font-bold">{{username}}</p>
            </div>

            <div class="mb-2 sm:mb-4 flex-none">
                <p class="text-lg sm:text-2xl ml-3 text-[#013756]">{{ cards_a_revisar }} cartas para revisar</p>
            </div>

            <div id="card-select" class="w-full grow px-3 mb-3 flex gap-3 overflow-x-scroll snap-x not-md:scrollbar-hidden">
                {% for deck in decks %}
                    <div id="card" class="h-full aspect-2/3 bg-[#FE9A09] rounded-3xl p-6 flex flex-col justify-between snap-center">
                        <div class="flex justify-between gap-3">
                            <p class="text-lg sm:text-2xl text-[#013756] font-bold">{{ deck.name }}</p>
                            <div class="flex items-center">
                                <p class="text-lg sm:text-xl text-[#013756] text-center">{{ deck.quantidade_cards }} cartas</p>
                            </div>
                        </div>
                        <div class="text-lg sm:text-xl text-center font-semibold text-[#013756]">
                            <p><span>{{ deck.cards_a_revisar }}</span> cartas pendentes</p>
                        </div>
                    </div>
                {% endfor %}


                <div id="card" class="h-full aspect-2/3 bg-[#bebebe] border-2 border-dashed border-[#01375683] rounded-3xl p-6 flex flex-col justify-between snap-center">
                    <div class="flex justify-center items-center h-full">
                        <img src="{% static 'resouces/add-card.svg' %}" alt="User" class="size-16 opacity-50">
                    </div>
                </div>
            </div>
        </div>

        <div class="h-24 md:h-0 flex-none"></div>
    </main>
</div>
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}